
.money-master{
    text-align: center;
    background-color: rgb(237, 237, 232);
    width:50%;
    margin: auto;
    padding: 10px;
}
button{
    background-color: rgb(121, 135, 238);
    border: none;
    padding: 8px 8px;
    width: 120px;
    color:white;
    border-radius: 5px;
}
input{
    background-color: rgb(241, 242, 242);
    padding: 5px;
}